@import './helper/utls';
@import './base/_init.scss';

html {
  @extend %height-100;
  overflow-x: hidden;
  // overflow-y: scroll;
  // overflow: hidden;
  * {
    box-sizing: border-box;
  }

  body {
    @extend %font-family;
    @extend %height-100;
    background: var(--bk-body);
    padding: 0px;
    margin: 0px;

    @include mobile-small() {
      font-size: 0.8rem !important;
    }

    input,
    textarea,
    button,
    select,
    a {
      /* remove the blue highlight of button */
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
      user-select: none;
    }

    .container {
      width: 650px;
      margin: 0 auto;

      @include mobile-small() {
        width: 90%;
      }
      @include mobile() {
        width: 90%;
      }
      @include ipad() {
        width: 85%;
      }
      @include desktop() {
        width: 80%;
      }
    }

    .btn {
      @extend %background-primary;
      @extend %color-primary;
      border: none;
      cursor: pointer;
      min-height: 25px;
      border-radius: 5px;
      padding: 2px;
      margin: 2px;
      &:active {
        opacity: 0.95;
      }

      &--link {
        // convert button to a line :
        // https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/30deacbf240f8cea7b88a977a72ed54b499c134e/docs/rules/anchor-is-valid.md
        @extend %font-family;
        background-color: transparent;
        color: var(--unactive-text);
        display: inline;
        margin: 0;
        padding: 0;
      }
    }

    .text {
      &--bold {
        @extend %bold-text;
      }
      &--default-bold {
        font-weight: 400 !important;
      }
    }

    .clerfix {
      clear: both;
    }

    .non-visible {
      visibility: hidden;
    }

    .tab {
      display: none;
      @include mobile-only() {
        display: block;
      }
      &--active {
        display: block;
      }
    }
  }
}

.html {
  &--noscroll {
    overflow-y: scroll;
    body {
      height: 100%;
      @extend %overflow-hidden;
    }
  }
}

.transition {
  * {
    transition: all 0.3s ease-in-out;
  }
}
