// --------- AH -------- //
// --2021 © Ali Hassan-- //
// --------------------- //

@mixin mobile-small() {
  @include media(0, 350px) {
    @content;
  }
}
@mixin mobile() {
  @include media(350px, 568px) {
    @content;
  }
}
@mixin mobile-only() {
  @include media(0, 568px) {
    @content;
  }
}
@mixin ipad() {
  @include media(568px, 834px) {
    @content;
  }
}
@mixin desktop() {
  @include media(834px, 100%) {
    @content;
  }
}
@mixin media($from, $to) {
  @media (min-width: $from) and (max-width: $to) {
    @content;
  }
}
@mixin height-100 {
  height: 100%;
}
@mixin height-100vh {
  height: 100vh;
}
@mixin display-flex {
  display: flex;
}
@mixin flex-direction-column {
  flex-direction: column;
}
@mixin flex-center {
  justify-content: center;
  align-items: center;
}
%font-family {
  font-family: 'Montserrat', monospace, 'Consolas', 'Arial', 'Courier New', Courier;
}
%bold-text {
  font-weight: bold;
}
%overflow-hidden {
  overflow: hidden;
}
%position-relative {
  position: relative;
}
%position-fixed {
  position: fixed;
}
%position-absolute {
  position: absolute;
}
%height-100 {
  @include height-100;
}
%height-100vh {
  @include height-100vh;
}
%display-flex {
  @include display-flex;
}
%flex-direction-column {
  @include flex-direction-column;
}
%flex-center {
  @include flex-center;
}
%flex-align-items-end {
  align-items: flex-end;
}
%background-primary {
  background: var(--primary-color);
}
%background-secondary {
  background: var(--secondary-color);
}
%background-dark {
  background: var(--bk-body-dark);
}
%color-primary {
  color: var(--primary-text-color);
}
