@import '../helper/utls';

/* -- loading -- */
.loading {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background: var(--secondary-color);
  overflow: hidden;
  float: left;
  // animation: loading-show-animate 0.5s forwards;

  &::before {
    content: 'AH';
    // height: 58px;
    // width: 65px;
    position: relative;
    opacity: 0.5;
    font-size: 2.6em;
    color: rgb(165, 17, 17);
    font-family: sans-serif, Arial, Verdana;
    font-weight: bold;
    animation: loading-ah-animate 0.8s forwards;
    // background-image: url("../assets/images/ah.png");
    // background-repeat: no-repeat;
    // background-size: 100%;
  }

  span {
    position: relative;
    background: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
    animation: scale-doted-animate 1s infinite alternate 0.5s;

    &,
    &::after,
    &::before {
      border-radius: 25%;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      background: inherit;
      width: 100%;
      height: 100%;
    }
    &::before {
      right: 0px;
      animation: scale-doted-animate 1s infinite alternate 0s, move-doted-before-animate 0.5s both;
    }
    &::after {
      left: 0px;
      animation: scale-doted-animate 1s infinite alternate 1s, move-doted-after-animate 0.5s both;
    }
  }

  &--close {
    animation: loading-close-animate cubic-bezier(0.23, 1, 0.32, 1) 2s forwards;
    span {
      transition: opacity 1.2s;
      opacity: 0;
      &::before {
        animation: move-doted-before-animate 0.5s alternate-reverse both;
      }
      &::after {
        animation: move-doted-after-animate 0.5s alternate-reverse both;
      }
    }

    ~ .ah-content {
      overflow: hidden !important;
      height: 100vh !important;
      @include mobile-only() {
        header {
          // animation: header-visible-animate ease-in-out 2s 1.5s backwards;
        }
        overflow-y: scroll !important;
      }
    }
  }

  &:not(&--close) ~ .ah-content,
  &:not(&--close) ~ .ah-content > * {
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
