body {
  padding: 0px;
  margin: 0px;
}

.loading {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100vw;
  background: #0a3547;
  overflow: hidden;
  float: left;
}

.loading::before {
  content: 'AH';
  position: relative;
  opacity: 0.5;
  font-size: 2.6em;
  color: #a51111;
  font-family: sans-serif, Arial, Verdana;
  font-weight: bold;
  -webkit-animation: loading-ah-animate 0.8s forwards;
          animation: loading-ah-animate 0.8s forwards;
}

.loading span {
  position: relative;
  background: red;
  width: 10px;
  height: 10px;
  -webkit-animation: scale-doted-animate 1s infinite alternate 0.5s;
          animation: scale-doted-animate 1s infinite alternate 0.5s;
}

.loading span, .loading span::after, .loading span::before {
  -webkit-border-radius: 25%;
          border-radius: 25%;
}

.loading span::before, .loading span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
}

.loading span::before {
  right: 0px;
  -webkit-animation: scale-doted-animate 1s infinite alternate 0s, move-doted-before-animate 0.5s both;
          animation: scale-doted-animate 1s infinite alternate 0s, move-doted-before-animate 0.5s both;
}

.loading span::after {
  left: 0px;
  -webkit-animation: scale-doted-animate 1s infinite alternate 1s, move-doted-after-animate 0.5s both;
          animation: scale-doted-animate 1s infinite alternate 1s, move-doted-after-animate 0.5s both;
}

.loading--close {
  -webkit-animation: loading-close-animate cubic-bezier(0.23, 1, 0.32, 1) 2s forwards;
          animation: loading-close-animate cubic-bezier(0.23, 1, 0.32, 1) 2s forwards;
}

.loading--close span {
  -webkit-transition: opacity 1.2s;
  -o-transition: opacity 1.2s;
  transition: opacity 1.2s;
  opacity: 0;
}

.loading--close span::before {
  animation: move-doted-before-animate 0.5s alternate-reverse both;
}

.loading--close span::after {
  animation: move-doted-after-animate 0.5s alternate-reverse both;
}

@-webkit-keyframes loading-close-animate {
  20% {
    background: #0a3547;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes loading-close-animate {
  20% {
    background: #0a3547;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes loading-ah-animate {
  100% {
    opacity: 1;
  }
}

@keyframes loading-ah-animate {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-doted-before-animate {
  0% {
    right: 0;
  }
  100% {
    right: 24px;
  }
}

@keyframes move-doted-before-animate {
  0% {
    right: 0;
  }
  100% {
    right: 24px;
  }
}

@-webkit-keyframes move-doted-after-animate {
  0% {
    left: 0;
  }
  100% {
    left: 24px;
  }
}

@keyframes move-doted-after-animate {
  0% {
    left: 0;
  }
  100% {
    left: 24px;
  }
}

@-webkit-keyframes scale-doted-animate {
  50% {
    background: red;
  }
  100% {
    background: rgba(255, 0, 0, 0.459);
  }
}

@keyframes scale-doted-animate {
  50% {
    background: red;
  }
  100% {
    background: rgba(255, 0, 0, 0.459);
  }
}
/*# sourceMappingURL=main.css.map */