@import '../../../helper/utls';

.content {
  #section__contact {
    @include mobile-only() {
      .container {
        @include display-flex;
        @include flex-center;
      }
    }
  }

  & &__find-me {
    /* -- find me -- */
    .find-me__social {
      @extend %flex-center;
      display: inline-flex;
      margin-top: 10px;
      @include mobile-only() {
        @include display-flex;
        gap: 20px;
      }

      a {
        display: inline-block;
        font-size: 1.5em;
        margin-right: 1em;
        @include mobile-only() {
          margin: 20px 0;
          height: 30px;
          width: 30px;
        }
        &::after {
          content: '';
          @extend %overflow-hidden;
          display: block;
          width: 23px;
          height: 23px;
          margin: 0px 0px 7px 0px;
          background: transparent;
          background-size: cover;
          @include mobile-only() {
            width: 100%;
            height: 100%;
          }
        }
        &[title='twitter']::after {
          background-image: url('/assets/images/ic_twitter.svg');
        }
        &[title='facebook']::after {
          background-image: url('/assets/images/ic_facebook.svg');
        }
        &[title='linkedin']::after {
          background-image: url('/assets/images/ic_linkedin.svg');
        }
        &[title='github']::after {
          background-image: url('/assets/images/ic_github.svg');
          filter: var(--invert);
        }
        &[title='sarahah']::after {
          border-radius: 50%;
          border: 2px solid #0fc;
          background-image: url('/assets/images/ic_sarahah.png');
          background-color: #fff !important;
        }
      }
    }

    h4 {
      margin-bottom: 2px;
    }

    @include mobile-only() {
      text-align: center;
    }
  }
}
