// ----------------------------------------------- //
// ----------------------AH----------------------- //
// ---------------2021 © Ali Hassan--------------- //
// ----------------------------------------------- //
/*
/* ----------------------------------------------- */
/* ---------------loading keyframes--------------- */
/* ----------------------------------------------- */
/*
/* ----------------------------------------------- */
/* ----------------body keyframes----------------- */
/* ----------------------------------------------- */
@keyframes show-body-animate {
    80%,
    100% {
        overflow: auto;
        height: 100%;
    }
}

/* ----------------------------------------------- */
/* -------------loading page keyframes------------ */
/* ----------------------------------------------- */
// @keyframes loading-show-animate { }
@keyframes loading-close-animate {
    20% {
        background: var(--secondary-color);
    }
    35% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.5);
        background: var(--bk-body);
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ----------------------------------------------- */
/* -------------loading ah keyframes-------------- */
/* ----------------------------------------------- */
@keyframes loading-ah-animate {
    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------- */
/* ----------------doted keyframes---------------- */
/* ----------------------------------------------- */
@keyframes move-doted-before-animate {
    0% {
        right: 0;
    }
    100% {
        right: 24px;
    }
}

@keyframes move-doted-after-animate {
    0% {
        left: 0;
    }
    100% {
        left: 24px;
    }
}

@keyframes scale-doted-animate {
    50% {
        background: rgb(255, 0, 0);
    }
    100% {
        background: rgba(255, 0, 0, 0.459);
    }
}
// ----------------------------------------------- //
// ----------------------AH----------------------- //
// ---------------2021 © Ali Hassan--------------- //
// ----------------------------------------------- //
